---
- name: Install compute services
  apt:
    name:
      - slurmd
    state: present

- name: Configure chrony to sync from head
  copy:
    dest: /etc/chrony/chrony.conf
    content: |
      server head iburst
      driftfile /var/lib/chrony/chrony.drift
      makestep 1 3
      rtcsync
  notify: Restart chrony

- name: Install munge key from head
  copy:
    dest: /etc/munge/munge.key
    content: "{{ hostvars['head'].munge_key_slurp.content | b64decode }}"
    owner: munge
    group: munge
    mode: "0400"

- name: Start munge on compute
  service:
    name: munge
    state: restarted
    enabled: yes

- name: Write slurm.conf on compute
  copy:
    dest: /etc/slurm/slurm.conf
    content: "{{ slurm_conf }}"

- name: Start slurmd
  service:
    name: slurmd
    state: restarted
    enabled: yes
