---
######################################
# COMMON CONFIG (ALL NODES)
######################################
- name: Common configuration for all nodes
  hosts: all
  become: true
  vars_files:
    - vars.yml

  tasks:
    - name: Install base packages
      apt:
        update_cache: yes
        name:
          - chrony
          - munge
          - slurm-client
        state: present

    - name: Configure /etc/hosts
      copy:
        dest: /etc/hosts
        content: |
          127.0.0.1 localhost
          192.168.56.10 head
          192.168.56.11 c1
          192.168.56.12 c2

    - name: Create required directories
      file:
        path: "{{ item }}"
        state: directory
        mode: "0755"
      loop:
        - /etc/slurm
        - /etc/munge
        - /var/lib/slurm/slurmd
        - /var/lib/slurm/slurmctld

    - name: Fix slurm directory ownership
      file:
        path: /var/lib/slurm
        owner: slurm
        group: slurm
        recurse: yes


######################################
# HEAD NODE
######################################
- name: Head node configuration
  hosts: head
  become: true
  vars_files:
    - vars.yml

  tasks:
    - name: Install head services
      apt:
        name:
          - slurmctld
          - slurmd
        state: present

    - name: Configure chrony as time server
      blockinfile:
        path: /etc/chrony/chrony.conf
        block: |
          allow {{ cluster_net }}
          local stratum 10

    - name: Restart chrony
      service:
        name: chrony
        state: restarted
        enabled: yes

    - name: Generate munge key (once)
      command: mungekey --create
      args:
        creates: /etc/munge/munge.key

    - name: Set munge key permissions
      file:
        path: /etc/munge/munge.key
        owner: munge
        group: munge
        mode: "0400"

    - name: Start munge on head
      service:
        name: munge
        state: restarted
        enabled: yes

    - name: Read munge key from head
      slurp:
        src: /etc/munge/munge.key
      register: munge_key_slurp

    - name: Write slurm.conf on head
      copy:
        dest: /etc/slurm/slurm.conf
        content: "{{ slurm_conf }}"

    - name: Start slurmctld
      service:
        name: slurmctld
        state: restarted
        enabled: yes


######################################
# COMPUTE NODES
######################################
- name: Compute nodes configuration
  hosts: compute
  become: true
  vars_files:
    - vars.yml

  tasks:
    - name: Install compute services
      apt:
        name:
          - slurmd
        state: present

    - name: Configure chrony to sync from head
      copy:
        dest: /etc/chrony/chrony.conf
        content: |
          server head iburst
          driftfile /var/lib/chrony/chrony.drift
          makestep 1 3
          rtcsync

    - name: Restart chrony
      service:
        name: chrony
        state: restarted
        enabled: yes

    - name: Install munge key from head
      copy:
        dest: /etc/munge/munge.key
        content: "{{ hostvars['head'].munge_key_slurp.content | b64decode }}"
        owner: munge
        group: munge
        mode: "0400"

    - name: Start munge on compute
      service:
        name: munge
        state: restarted
        enabled: yes

    - name: Write slurm.conf on compute
      copy:
        dest: /etc/slurm/slurm.conf
        content: "{{ slurm_conf }}"

    - name: Start slurmd
      service:
        name: slurmd
        state: restarted
        enabled: yes

